:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4); /* #2e2f42*/
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --my-transition-duration: 250ms;
  --my-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
  color: currentColor;
}
input {
  font-family: inherit;
  /* outline: none; */
  padding: 0;
}

address {
  font-style: normal;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white-background);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  /* width: auto; */
  min-width: 320px;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  outline: 1px dashed red;
}
@media screen and (max-width: 1157px) {
  .container {
    padding: 0 16px;
  }
}

.section-title {
  font-size: 36px;
  /* font-weight: 700; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  text-align: center;
  margin-bottom: 72px;
}

.order-button,
.filter-button,
.modal-send-btn,
.subscribe-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-button,
.modal-send-btn,
.subscribe-btn {
  color: var(--white-background);
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  transition: background-color var(--my-transition-duration)
    var(--my-transition-timing-function);
}

.order-button:hover,
.order-button:focus,
.modal-send-btn:hover,
.modal-send-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state);
}

/* =============================HEADER================================= */
.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-studio-text {
  color: var(--dark);
}

.main-nav {
  flex: 1;
}

.menu-toggle-btn {
  width: 32px;
  height: 70px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}
.menu-toggle-btn svg {
  fill: var(--dark);
  transition: fill var(--my-transition-duration) var(--my-transition-timing-function);
}

.menu-toggle-btn:is(:hover, :focus) svg {
  fill: var(--pressed-state);
}

@media screen and (max-width: 767px) {
  .nav-list,
  .contact-info {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle-btn {
    display: none;
  }

  .contact-list {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }

  .nav-list-link {
    display: inline-block;
    color: var(--dark);
    font-weight: 500;
    padding: 24px 0 24px;
    position: relative;
  }

  .nav-list-link.active-page {
    color: var(--pressed-state);
  }

  .nav-list-link.active-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }

  .nav-list-link,
  .contact-list-link {
    transition: color var(--my-transition-duration) var(--my-transition-timing-function);
  }

  .contact-list-link {
    color: var(--text);
  }

  .nav-list-link:hover,
  .nav-list-link:focus,
  .contact-list-link:hover,
  .contact-list-link:focus {
    color: var(--pressed-state);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contact-list-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .contact-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .main-nav > a {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .contact-list {
    gap: 40px;
  }
  .main-nav > a {
    margin-right: 76px;
  }
}

/* =============================HERO SECTION================================= */

.hero-section {
  background-color: var(--dark);
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office@2.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  margin: 0 auto 72px auto;
  max-width: 320px;
}

.order-button {
  display: block;
  padding: 16px 0;
  margin: 0 auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero-title {
    line-height: 1.07;
    font-size: 56px;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-title {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/* =============================FEATURE SECTION================================= */
.feature-section {
  padding: 96px 0;
}
.feature-list {
  display: flex;
  row-gap: 72px;
}

.feature-list-title {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    flex-direction: column;
  }
  .feature-list-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .feature-list {
    flex-wrap: wrap;
  }
  .feature-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 1157px) {
  .future-icon {
    display: none;
  }
  .feature-list-text {
    font-weight: 500;
  }
}

@media screen and (min-width: 1158px) {
  .feature-section {
    padding: 120px 0;
  }
  .future-icon {
    background-color: var(--light);
    height: 112px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .feature-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .feature-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* =============================PRODUCT SECTION================================= */

@media screen and (max-width: 1157px) {
  .product-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .product-section {
    padding-bottom: 120px;
  }
  .product-list {
    display: flex;
    gap: 24px;
  }
  .product-list-item-img {
    border: 1px solid var(--accent);
  }
}
/* =============================TEAM SECTION================================= */
.team-section {
  background-color: var(--light);
  padding: 96px 0;
}
.team-list {
  display: flex;
  row-gap: 72px;
}
.team-list-item {
  width: 264px;
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.card-description {
  padding: 32px 0;
  border: 1px solid var(--accent);
  border-top: none;
}
.team-list-item-title,
.team-list-item-text {
  text-align: center;
}
.team-list-item-text {
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--my-transition-duration)
    var(--my-transition-timing-function);
}
.team-svg {
  fill: var(--light);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    flex-wrap: wrap;
  }
  .team-container {
    max-width: 584px;
    outline: 1px dashed blue;
  }
}
@media screen and (max-width: 1157px) {
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* =============================CUSTOMER SECTION================================= */
.customer-section {
  background-color: var(--white-background);
  padding: 96px 0;
}

.customer-list {
  display: flex;
}
.customer-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--subtle-text);
  width: 100%;
  height: 100%;
  color: var(--subtle-text);
  transition: border-color var(--my-transition-duration) var(--my-transition-timing-function),
    color var(--my-transition-duration) var(--my-transition-timing-function);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}
.customer-svg {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customer-list {
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customer-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .custom-container {
    max-width: 584px;
    outline: 1px dashed blue;
  }
  .customer-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media screen and (max-width: 1157px) {
  .customer-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .customer-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customer-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

/* =============================CARD SECTION portfolio================================= */
.card-section {
  padding: 96px 0 120px;
}
.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button {
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  display: block;
  padding: 12px 24px;
  transition: background-color var(--my-transition-duration)
      var(--my-transition-timing-function),
    color var(--my-transition-duration) var(--my-transition-timing-function),
    box-shadow var(--my-transition-duration) var(--my-transition-timing-function),
    border-color var(--my-transition-duration) var(--my-transition-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-list-item-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.card-list-link {
  color: var(--text);
  display: block;
  transition: box-shadow var(--my-transition-duration) var(--my-transition-timing-function);
}
.box {
  display: block;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: var(--primary-brand);
  transition: transform var(--my-transition-duration) var(--my-transition-timing-function);
  color: var(--light);
}

.card-list-item {
  flex-basis: calc((100% - 48px) / 3);
}
.app-card-description {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
.card-list-link:hover,
.card-list-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-list-link:hover .overlay,
.card-list-link:focus .overlay {
  transform: translateY(0%);
}

/* =============================FOOTER================================= */

.footer {
  background-color: var(--dark);
  padding: 96px 0;
}

.futer-container {
  display: flex;
  align-items: baseline;
}

.footer-webstudio {
  width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 17px;
}

.footer-logo-studio-text,
.footer-logo-text {
  color: var(--light);
}

.footer-social-text {
  color: var(--white-background);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-svg {
  fill: var(--light);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.subscribe-form {
  display: flex;
}

.subscribe-descr {
  color: var(--white-background);
  font-weight: 500;
  margin-bottom: 16px;
}

.subscribe-input {
  background-color: transparent;
  color: var(--white-background);
  height: 40px;
  width: 264px;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  color: var(--white-background);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 165px;
  padding: 0;
}

.subscribe-btn .subscr-btn-icon {
  margin-left: 16px;
  fill: var(--white-background);
}

@media screen and (max-width: 767px) {
  .futer-container {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-descr {
    text-align: center;
  }
  .subscribe-form {
    gap: 16px;
  }
  .footer-social-text {
    text-align: center;
  }
  .footer-webstudio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .futer-container {
    align-items: baseline;
  }
  .subscribe-form {
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .futer-container {
    flex-wrap: wrap;
    max-width: 584px;
    outline: 1px dashed blue;
    column-gap: 24px;
  }
}
@media screen and (max-width: 1157px) {
  .futer-container {
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-webstudio {
    margin-right: 120px;
  }
  .subscribe-container {
    margin-left: 80px;
  }
}

/* =============================BACKDROP================================= */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(50%) scale(0);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--my-transition-duration) var(--my-transition-timing-function),
    visibility var(--my-transition-duration) var(--my-transition-timing-function);
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--my-transition-duration) var(--my-transition-timing-function);
  padding: 72px 24px 24px 24px;
}

/* ===============CLOSE_BUTTON============= */
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--my-transition-duration)
      var(--my-transition-timing-function),
    border var(--my-transition-duration) var(--my-transition-timing-function);
}
.close-button-svg {
  fill: var(--dark);
  transition: fill var(--my-transition-duration) var(--my-transition-timing-function);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-close-button:hover .close-button-svg,
.modal-close-button:focus .close-button-svg {
  fill: var(--white-background);
}
/* =====================FORM=========================== */
.modal-descr {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}

.modal-label,
.modal-label-checkbox,
.modal-input,
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-label,
.modal-label-checkbox,
.modal-input {
  color: var(--subtle-text);
}

/* ===============INPUT+TEXTAREA============= */
.modal-input-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
}

.input-with-icon {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
}

.modal-input,
.modal-textarea {
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  transition: border-color var(--my-transition-duration) var(--my-transition-timing-function);
}

.modal-input:focus-within,
.modal-textarea:focus-within {
  border-color: var(--primary-brand);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill var(--my-transition-duration) var(--my-transition-timing-function);
}

.modal-input:focus-within + .modal-input-icon {
  fill: var(--primary-brand);
}

.modal-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  color: var(--modal-overlay);
  width: 100%;
  resize: none;
  padding: 8px 16px;
  height: 120px;
}

.modal-textarea::placeholder {
  color: var(--modal-overlay);
}
/* ===============CHECKBOX============= */
.modal-label[for='user-privacy'] {
  margin-bottom: 0;
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay);
  fill: transparent;
  transition: background-color var(--my-transition-duration)
      var(--my-transition-timing-function),
    border var(--my-transition-duration) var(--my-transition-timing-function),
    fill var(--my-transition-duration) var(--my-transition-timing-function);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-label .modal-checkbox-span {
  background-color: var(--pressed-state);
  border-style: none;
  fill: var(--light);
}

.modal-checkbox-input:focus + .modal-label .modal-checkbox-span {
  border: 1px solid var(--primary-brand);
}
/* .modal-checkbox-icon {
  fill: inherit;
} */

.modal-checkbox-link {
  color: var(--primary-brand);
}

/* ===============BUTTON============= */
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
